pandas==0.19.2
numpy
scipy
hmmlearn
scikit-learn
Cython
bottleneck
numexpr
tables
matplotlib
networkx
jupyter
ipython
six
future
nose
h5py
coverage
coveralls
psycopg2
ipykernel
theano
tensorflow
keras
git+git://github.com/nilmtk/nilm_metadata.git
git+git://github.com/nilmtk/nilmtk.git
git+git://github.com/JackKelly/neuralnilm.git
